<div class="game-container app-content">
    <mat-tab-group color="accent" backgroundColor="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="On Going">
        <div  class="tab-content">
            <mat-card class="game-card">
                <mat-card-header>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>
                    <div class="subtitle">
                      <span class="subtitle-left">Date:12/12/2018</span>
                      <span class="subtitle-right">Time:07:00 PM</span>
                  </div>
                  </mat-card-subtitle>
                  <mat-icon class="go-ahead">arrow_forward_ios</mat-icon>
                </mat-card-header>
              </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Up Coming">
          <div  class="tab-content">
              <mat-card class="game-card">
                  <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>
                      <div class="subtitle">
                        <span class="subtitle-left">Date:12/12/2018</span>
                        <span class="subtitle-right">Time:07:00 PM</span>
                    </div>
                    </mat-card-subtitle>
                    <mat-icon class="go-ahead">arrow_forward_ios</mat-icon>
                  </mat-card-header>
                </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Past">
            <div  class="tab-content">
                <mat-card class="game-card">
                    <mat-card-header>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>
                        <div class="subtitle">
                          <span class="subtitle-left">Date:12/12/2018</span>
                          <span class="subtitle-right">Time:07:00 PM</span>
                      </div>
                      </mat-card-subtitle>
                      <mat-icon class="go-ahead">arrow_forward_ios</mat-icon>
                    </mat-card-header>
                  </mat-card>
            </div>
          </mat-tab>
    </mat-tab-group>
    </div>
